<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

        var socket = io();

        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $(function() {

            var taskTable = $("#taskTable").DataTable( {
                "order": [[ 2, "desc" ]]
            });

            socket.on('alltasks', function (data) {
                //console.log(data);
                console.log('Got all data');

                for(var i = 0; i < data.tasks.length; i++) {
                    var task = data.tasks[i];

                    var rowData = [task.name._, task.category._, task.Timestamp._, task.completed._];
                    //console.log('new task: ' + JSON.stringify(rowData));
                    taskTable.row.add(rowData).draw();
                }
            });

            $("#taskForm").submit(function(event) {
                event.preventDefault();

                var postData = $(this).serializeObject();

                socket.emit('addtask', postData);

                $("#taskModal").modal('hide');

                return false;

                /*
                 var postData = $(this).serialize();
                var formURL = $(this).attr("action");
                $.ajax({
                    url: formURL,
                    type: 'POST',
                    data: postData,
                    success:function(data, textStatus, jqXHR)
                    {
                        //data: return data from server
                        //console.log(data);
                        if (data.status == "OK") {
                            $("#taskModal").modal('hide');
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown)
                    {
                        //if fails
                        console.log(errorThrown);
                    }
                });*/
            });

            socket.on('newtask', function(data) {
                console.log('new task: ' + JSON.stringify(data.task));
                var task = data.task;
                var rowData = [task.name, task.category, task.Timestamp, task.completed];
                taskTable.row.add(rowData).draw();
            });

            $("#taskListForm").on("change", "input[type=checkbox]", function(e) {

                $("#taskListForm").submit();
                /*
                //console.log(this.name+' '+this.value+' '+this.checked);

                var self = this;
                var data = '{"' + self.name + '": "' + self.checked + '"}';
                //console.log(data);

                //submit
                $.ajax({
                    url: '/completeTask',
                    type: 'POST',
                    contentType: 'application/json',
                    data: data
                }).done(function(data) {


                }).error(function(error) {
                    console.log(error);
                })
                */
            });
        });

    </script>
</head>
<body>

<div class="container">
    <h1><%= title %></h1>
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#taskModal">
        New Task
    </button>
    <br/><br/>
    <form action="/completeTask" method="post" id="taskListForm">
        <table class="table table-striped table-bordered" id="taskTable">
            <thead>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Date</td>
                <td>Completed</td>
            </tr>
            </thead>
            <!--<tr>-->
                <!--<td colspan="4">Loading...</td>-->
            <!--</tr>-->
        </table>
    </form>

    <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">New Task</h4>
                </div>
                <div class="modal-body">
                    <form accept-charset="UTF-8" role="form" id="taskForm" method="post" action="/realtime/addtask">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Task" name="name" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Category" name="category" type="text">
                            </div>
                            <button class="btn btn-lg btn-success btn-block has-spinner" type="submit" id="buttonSubmit">
                                Submit
                            </button>
                        </fieldset>
                    </form>
                </div>
                <!--
                <div class="modal-footer">
                </div>
                 -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
</body>
</html>
